# Global ignore rules
.DS_Store
**/*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Visual Studio Code
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/jsconfig.json
.vscode/*.code-workspace
*.swp

# IntelliJ IDEA
.idea/
*.iml

# Sublime Text
*.sublime-workspace
*.sublime-project

# Windows System Files
Thumbs.db
desktop.ini

# Testing
coverage

# Production
build

# Frontend-specific rules
frontend/react-frontend/node_modules/
frontend/react-frontend/build/
frontend/react-frontend/coverage/

# Ignore logs in the React frontend
frontend/react-frontend/npm-debug.log*
frontend/react-frontend/yarn-debug.log*
frontend/react-frontend/yarn-error.log*

# BACKEND
# Python bytecode
backend/__pycache__/
backend/**/__pycache__/
backend/*.py[cod]
backend/*$py.class

# Local settings
backend/local_settings.py

# Environment variables
backend/.env
backend/*.env

# PostgreSQL database files
backend/db
backend/pgdata/
backend/*.sql
backend/*.dump

# Docker-related files
docker-compose.override.yml
*.pid

# Django specific
backend/*.log
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/static/
backend/.well-known

# Django migrations
backend/**/migrations/*.py
!backend/**/migrations/__init__.py

# Logs and coverage
backend/*.log
backend/db.sqlite3

backend/data
backend/media